@import url('/font/JorelMinesweeperPlus-Regular.otf');

* {
    background-color: #00BFFF;
}

@font-face {
    font-family: 'JorelMinesweeperPlus';
    src: url('/font/JorelMinesweeperPlus-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    position: relative;
}

.greeting {
    font-family: 'JorelMinesweeperPlus', 'Courier New', monospace;
    src: url('/font/JorelMinesweeperPlus-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    color: #000000;
    font-size: 50px;
    text-shadow: 
            -1.5px -1.5px 0 #FFFFFF; 
            1.5px -1.5px 0 #FFFFFF; 
            -1.5px 1.5px 0 #FFFFFF;   
            1.5px 1.5px 0 #FFFFFF;     
    text-align: center;
    width: 100%;
    z-index: 1;
}

.bird {
    position: relative;
    top: -180px;
    left: 150px;
    width: 50px;
    height: 50px;
}

.start {
    font-family: 'JorelMinesweeperPlus', 'Courier New', monospace;
    src: url('/font/JorelMinesweeperPlus-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    color: #ededed;
    font-size: 20px;
    text-shadow: 
            -1px -1px 0 #000000,  
            1px -1px 0 #000000,  
            -1px 1px 0 #000000,    
            1px 1px 0 #000000;     
    text-align: center;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    animation: jump 1s infinite alternate ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}


.sky1 {
    position: relative;
    top: -430px;
    right: 870px;
    margin: 0 auto;
    animation: sky1 30s infinite normal ease-in-out;
}

@keyframes sky1 {
    0% {
        transform: translateX(-250px));
    }
    100% {
        transform: translateX(1750px);
    }
}

.sky5 {
    position: relative;
    top: -400px;
    left: 600px;
    margin: 0 auto;
    animation: sky5 30s infinite normal ease-in-out;
}

@keyframes sky5 {
    0% {
        transform: translateX(160px);
    }
    100% {
        transform: translateX(-1400px);
    }
}